# Data Folder
data/
GSE151302/
input/

# Documents
docs/
experiments/

# Unrelated Files
HISTORY.md
LICENSE
README_off.md
data.ipynb
train.ipynb
scMRDR_ratio_loop_train_eval_latent_patches.py

# Training Input and Output
input/
output/
